<footer>
    <div class="fotter">
      <div class="fotter-second">
        <h3 class="raj1">Priyanshu Portfolio</h3>
      </div>
      <div class="fotter-first">
        <ul>
          <li><a href="/">Home</a>
          </li>
          <li><a href="/about/">About us </a>
          </li>
          <li><a href="/project/">project </a></li>
          <li><a href="/contact/">Contact Me</a></li>
          <li><a href="/service/">Services </a></li>
        </ul>

      </div>
      <div class="fotter-third">
        <ul>
          <li><a href="/gallary">Gallary</a>
          </li>
          <li><a href="https://github.com/priyanshukumar1881">Github </a>
          </li>
          <li><a href="https://drive.google.com/file/d/1VfBxuYyclquCHqDqA_wAQZJF3d9FVfn9/view?usp=sharing">Resume</a></li>
          <li><a href="/socialmedia">SocalMedia </a</li>
          <li><a href="/workexpe">Work Experience</a></li>
        </ul>

      </div>
      <div class="fotter-fourth">
                  <ul>
          <li><a href="https://www.sarkarilock.in/">FIRST PROJECT</a>
          </li>
          <li><a href="#about us">Second PROJECT </a>
          </li>
          <li><a href="#about us">Third PROJECT </a></li>
          <li><a href="#about us">Fourth PROJECT</a></li>
          <li><a href="#about us">Fifth PROJECT </a></li>
        </ul>
    </div>
    <div  class="footer-rights">
      "©"  |www.priyanshu Portfolio.com  |  All Rights Reserved
    </div>
  </footer>

  
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <!-- Setup and start animation! -->
  <script>
    var typed = new Typed('#element', {
      strings: ['Web Developer.', ' A Ethical Hacker.', 'A Programmer.', 'A video Editor.', 'A Good Writer.', ' Gamer.'],
      typeSpeed: 150
    })
  </script>
</body>
</html>
