<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery -My own photo and <video src=""></video></title>
    <link rel="stylesheet" href="/static/gallary.css">
</head>
<body>
    <header class="header">
        <h1>Gallery</h1>
    </header>
    <main class="main-container">
        <section class="gallery">
            <h2>MY TRAVEL PHOTO AND</h2>
            <div class="gallery-grid">
                <!-- Image 1 -->
                <div class="gallery-item">
                    <img src="/static/image/raj.png" alt="Project/Tool 1" class="gallery-img">
                    <div class="gallery-overlay">
                        <p class="overlay-text">KASHMIR PHOTO</p>
                    </div>
                </div>
                <!-- Image 2 -->
                <div class="gallery-item">
                    <img src="/static/image/raj.png" alt="Project/Tool 2" class="gallery-img">
                    <div class="gallery-overlay">
                        <p class="overlay-text">Manali photo </p>
                    </div>
                </div>
                <!-- Image 3 -->
                <div class="gallery-item">
                    <img src="/static/image/raj.png" alt="Project/Tool 3" class="gallery-img">
                    <div class="gallery-overlay">
                        <p class="overlay-text">Manali photo </p>
                    </div>
                </div>
                <!-- Image 4 -->
                <div class="gallery-item">
                    <img src="/static/image/raj.png" alt="Project/Tool 4" class="gallery-img">
                    <div class="gallery-overlay">
                        <p class="overlay-text">Manali photo </p>
                    </div>
                </div>
                <!-- Image 5 -->
                <div class="gallery-item">
                    <img src="/static/image/raj.png" alt="Project/Tool 5" class="gallery-img">
                    <div class="gallery-overlay">
                        <p class="overlay-text">Manali photo 5</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Priyanshu kuamr. All Rights Reserved.</p>
    </footer>
</body>
</html>
