<!-- This is Header section -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="icon" a href="https://img.freepik.com/premium-psd/this-is-beautifully-designed-3d-abstract-icon-with-beautiful-metallic-texture_868263-567.jpg?w=360" />
    <link rel="stylesheet" href="/static/./style.css" />
    <style></style>
  </head>
  <body>
    <header>
      <nav>
        <div class="left">Priyanshu's Portfolio</div>
        <ul class="right">
          <li class="y">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/service/">Services</a>
          </li>
          <li>
            <a href="/project/">project</a>
          </li>
          <li>
            <a href="/contact/">Contact Me</a>
          </li>
        </ul>
      </nav>
    </header>