
    <!-- This is mid section -->
    {% include "header.html" %}
    <main>
      <section class="firstsection">
        <div class="leftsection">
          Hi, My Name is <span class="my">Priyanshu</span>
          <div>And I am a Passinate</div>
          <span id="element"></span>
          <div class="button">
            <button class="bttn"><a href="https://drive.google.com/file/d/1VfBxuYyclquCHqDqA_wAQZJF3d9FVfn9/view?usp=sharing"> Dowlond Resume</button></a>
            <button class="bttn"><a href="https://github.com/priyanshukumar1881">Visit Github </button></a>
          </div>
        </div>
        
        <div class="rightsection">
          <img  src="/static/./image/hack.png" alt="" />
        </div>
      </section>

      <hr />
      <section class="secondsection">
        <span class="work">What I Have Done So Far</span>
        <h1>Work Experience</h1>
        <div class="box">
          <div class="vertical">
            <img class="imagetop" src="/static/./image/django2.png" alt="">
            <div class="verticaltitle">Django Developer (2024-20--)
              <div class="verticaldesc">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quas at deleniti,
                 dignissimos minus dolores qui delectus consequuntur assumenda architecto laboriosam accusamus
                  placeat beatae. Nisi, veritatis. Recusandae perspiciatis expedita tenetur.</div>
            </div>
          </div>
          <div class="vertical">            <img class="imagetop" src="/static/./image/html.png" alt="">
            <div class="verticaltitle">HTML Delovper (2024-20--)
              <div class="verticaldesc">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quas at deleniti,
                 dignissimos minus dolores qui delectus consequuntur assumenda architecto laboriosam accusamus
                  placeat beatae. Nisi, veritatis. Recusandae perspiciatis expedita tenetur.</div>
            </div></div>
          <div class="vertical">            <img class="imagetop" src="/static/./image/etica.png" alt="">
            <div class="verticaltitle">ETHICAL HACKING (2024-20--)
              <div class="verticaldesc">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quas at deleniti,
                 dignissimos minus dolores qui delectus consequuntur assumenda architecto laboriosam accusamus
                  placeat beatae. Nisi, veritatis. Recusandae perspiciatis expedita tenetur.</div>
            </div></div>
          <div class="vertical">            <img class="imagetop" src="/static/./image/cyber.png" alt="">
            <div class="verticaltitle">  CYBER SECURITY (2024-20--)
              <div class="verticaldesc">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quas at deleniti,
                 dignissimos minus dolores qui delectus consequuntur assumenda architecto laboriosam accusamus
                  placeat beatae. Nisi, veritatis. Recusandae perspiciatis expedita tenetur.</div>
            </div></div>
          <div class="vertical">            <img class="imagetop" src="/static/./image/and.png" alt="">
            <div class="verticaltitle">ANDROID DEV (2024-20--)
              <div class="verticaldesc">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quas at deleniti,
                 dignissimos minus dolores qui delectus consequuntur assumenda architecto laboriosam accusamus
                  placeat beatae. Nisi, veritatis. Recusandae perspiciatis expedita tenetur.</div>
            </div></div>
                      <div class="vertical">
            <img class="imagetop" src="/static/./image/data2.png" alt="">
            <div class="verticaltitle">DATA SCIENCE (2024-20--)
              <div class="verticaldesc">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quas at deleniti,
                 dignissimos minus dolores qui delectus consequuntur assumenda architecto laboriosam accusamus
                  placeat beatae. Nisi, veritatis. Recusandae perspiciatis expedita tenetur.</div>
            </div>
          </div>
            
          
        </div>
      </section>
    </main>
    <!-- THIS IS FOTTER  SECTION -->
    {%include "footer.html"%}

